* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace
}

body {
    background-color: black;
    color: gray;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    font-size: 10px;
    align-items: center;
    background: black;
    scroll-behavior: smooth;
}

h1{
    overflow: auto;
    display: inline-flex;
    text-align: center;
    color: grey;
    font-size: 20px;
    padding: 30px;
    margin-left: auto;
    font-weight: 10;
    margin-bottom: 15px;
    margin-top: 50px;
}

.text0{
    overflow: auto;
    display: inline-flex;
    text-align: center;
    color: grey;
    font-size: 20px;
    padding: 30px;
    margin-left: auto;
    font-weight: 10;
    margin-bottom: 15px;
    margin-top: 50px;
}

h2 {
    overflow: auto;
    display: inline-flex;
    text-align: center;
    color: grey;
    font-size: 22px;
    padding: 30px;
    margin-left: auto;
    font-weight: 10;
    margin-bottom: 15px;
    margin-top: 70px;

}

.contact{
    overflow: auto;
    display: inline-flex;
    text-align: center;
    color: grey;
    font-size: 20px;
    padding: 30px;
    margin-left: auto;
    font-weight: 10;
    margin-bottom: 15px;
    margin-top: 70px;
}

.header {
    padding: 0px;
    text-align: center;
    background: rgb(101, 101, 104);
    color: lightgrey;
    font-size: 10px;
    opacity: 90%;
    max-height: 40px;
}

.overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity .35s, visibility .35s, height .35s;
    overflow: hidden;
    background: rgb(0, 0, 0);
    z-index: -1;
}

#main-menu {
    display: block;
    height: 50px;
    width: 100%;
    background: darkgrey;
    margin: 0px;  
    z-index: 9;
    position: fixed;
    padding: 0;
}

#main-menu ul {
    max-width: 800px;
    width: 100%;
    height: 100%;
    margin: 0px auto;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: 9;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40%;
}
#main-menu li {
  list-style-type: none;
  font-size: 2rem;
}

#main-menu a {
  color: #585858;
  font-size: 1.5rem;
  text-decoration: none;
}

#main-menu a:hover {
  text-decoration: underline;
}

.box1 {
    padding-top: 60px;
    margin-bottom: 10px;
    margin-top: 0px;
    align-items: center;
    position: fixed;
}

.grecaptcha-badge { 
    opacity:0;
    visibility: hidden;
    display: none;
}
